<div class="card">
  <div class="card-header">
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/cosmosdb_fi.png"
             class="img-responsive center-block"
             style="max-height:200px;padding-bottom:50px" />
      </div>
    <div>
      <p>
        A sample application to perform simple CRUD opetion 
        <li>
          Angular
        </li>
        <li>
          ASP.NET Core API
        </li>
        <Li>
          Azure SDK
        </Li>
        <li>
          Azure Cosmos DB
        </li>
        This sample appplication has used emilator instance of Azure Cosmos DB Emulator.
      </p>
    </div>
      <!-- <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Sunil Sharan</h3>
      </div> -->

      <!-- <div class="text-center">sunil Sharan</div> -->
      <!-- <div class="text-center">
        <a href="http://www.bit.ly/sunil">sunil-sharan</a>
      </div> -->
    </div>
  </div>